{% extends 'Layout.twig' %}

{% block body %}

    <h2><b>Utilisateurs</b></h2>
    <p> <br> </p>

    <table class="bord">
        <tr>
            <td class="bol" width="5%"> Nom</td>
            <td class="bol" width="5%"> Prénom</td>
            <td class="bol" width="5%"> Fonction</td>
            <td class="bol" width="5%"> Responsable</td>
        </tr>

        {%
            set roles = {
            'ROLE_USER': 'Utilisateur non validé',
            'ROLE_EMPLOYEE': 'Agent',
            'ROLE_MANAGER': 'Teamleader',
            'ROLE_SUPERVISOR': 'Teamleader Supervisor',
            'ROLE_DIRECTOR': 'Directeur',
            'ROLE_ADMINISTRATOR': 'Administrateur',
        }
        %}

        {% for user in Users %}
            <tr>
                <td><a href="{{ path('manager_team_users')}}/{{ user.id }}">{{ user.lastName }}</a></td>
                <td>{{ user.firstName }} </td>
                <td>{{ roles[user.role] }}</td>

                {% if user.responsible is not null %}
                    <td>{{ user.responsible.firstName }} {{ user.responsible.lastName }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
