{% extends 'Layout.twig' %}

{% block body %}

    <h2><b>Inscription</b></h2>
    <br>

    {{ form_start(formular) }}

    <table>
        <tr>
            <td class="bol" width="5%">{{ form_row(formular.email) }}</td>
            <td class="bol" width="5%">{{ form_row(formular.password.first) }}</td>
            <td class="bol" width="5%">{{ form_row(formular.password.second) }}</td>
            <td class="bol" width="5%">{{ form_row(formular.lastName) }}</td>
            <td class="bol" width="5%">{{ form_row(formular.firstName) }}</td>
            <td class="bol" width="5%"><button type="submit">Enregistrer</button></td>
        </tr>
    </table>

    {{ form_widget(formular) }}

    {{ form_end(formular) }}
    <br><br>

    <img width="700" src="/meca.jpg">

{% endblock %}

