{% extends 'Layout.twig' %}

{% block body %}

    <h3>Toutes les demandes de {{ User.lastName }} {{ User.firstName }}</h3>

    <br>

    {% for d in DemandData %}
        <a href="{{ path('manager_holiday_demands_show', {id:d.demand.id}) }}"><font size="1">{{ d.demand.createdDate | date('d-m-Y à H:i') }}</font></a>
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
                {% if not d.isOutdated %}
                    <div class="badge badge-pill badge-{{ ['', 'warning', 'success', 'danger', 'secondary', 'danger'][d.demand.status] }}">{{ d.demand.statusString|trans }}</div>
                {% endif %}
                {% if d.isOutdated %}
                    <span class="badge badge-secondary">demande échue non traitée</span>
                {% endif %}
                {% if d.demand.startDate == d.demand.endDate %}
                    <h6 class="card-text"><b>{{ d.demand.startDate|date('d-m-Y') }}</b></h6>
                {% else %}
                    <h6 class="card-text"><b>Du {{ d.demand.startDate|date('d-m-Y') }} au {{ d.demand.endDate|date('d-m-Y') }}</b></h6>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div>Aucune demande pour cet utilisateur</div>
    {% endfor %}

{% endblock %}
