{% extends 'Layout.twig' %}

{% block body %}

    <br>
    <table>
        <tr>
            {% if is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_DIRECTOR') or is_granted('ROLE_SUPERVISOR') or is_granted('ROLE_MANAGER') or is_granted('ROLE_EMPLOYEE') and app.user.getIdentifier == User.id %}
                <td>
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        {% if app.user.getIdentifier != User.id %}
                            <div class="card-header"><h3><a href="{{ path('manager_users_holiday_demands', {user:User.id}) }}">{{ User.lastName }} {{ User.firstName }}</a></h3></div>
                        {% else %}
                            <div class="card-header"><h3>{{ User.lastName }} {{ User.firstName }}</h3></div>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">

                            <p><b>Identifiant : </b>{{ User.id }}</p>
                            <P><b>Email : </b>{{ User.email }}</P>
                            <p><b>Nom de famille </b>: {{ User.lastName }}</p>
                            <p><b>Prénom </b>: {{ User.firstName }}</p>

                            {%
                                set roles = {
                                'ROLE_USER': 'Utilisateur non validé',
                                'ROLE_EMPLOYEE': 'Agent',
                                'ROLE_MANAGER': 'Teamleader',
                                'ROLE_SUPERVISOR': 'Teamleader Supervisor',
                                'ROLE_DIRECTOR': 'Directeur',
                                'ROLE_ADMINISTRATOR': 'Administrateur',
                            }
                            %}
                            <p><b>Fonction</b> : {{ roles[User.role] }}</p>



                            {#<p><b>Fonction </b>: {{ User.role }}</p>#}
                            {% if User.responsible is not null %}
                                <p><b>Responsable : </b>{{ User.responsible.firstName }} {{ User.responsible.lastName }}</p>
                            {% endif %}

                            {#<p>Langue(s) : </p>#}
                            {#<p>Skill(s) : </p>#}
                            {#<p>Taux d'activité : </p>#}
                        </div>
                    </div>
                </td>
            {% endif %}

            {% if ((is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_DIRECTOR') or is_granted('ROLE_SUPERVISOR') or is_granted('ROLE_MANAGER')) and (app.user.getIdentifier != User.id)) %}
                <td>
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><h3>Gestion des droits</h3></div>
                        <div class="card-body">
                            <p class="card-text">

                                {% if User.role == 'ROLE_USER' %}
                                {% if is_granted('ROLE_MANAGER') %}
                            <div>
                                <a href="{{ path('manager_user_promote_to_employee', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme agent</button></a>
                            </div>
                            {% endif %}
                            {% if is_granted('ROLE_SUPERVISOR') %}
                                <div>
                                    <a href="{{ path('manager_user_promote_to_manager', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Teamleader</button></a>
                                </div>
                            {% endif %}
                            {% if is_granted('ROLE_DIRECTOR') %}
                                <div>
                                    <a href="{{ path('manager_user_promote_to_employee', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme agent</button></a>
                                </div>
                                <br>
                                <div>
                                    <a href="{{ path('manager_user_promote_to_manager', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Teamleader</button></a>
                                </div>
                                <br>
                                <div>
                                    <a href="{{ path('manager_user_promote_to_supervisor', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Teamleader Supervisor</button></a>
                                </div>
                            {% endif %}
                            {% if is_granted('ROLE_ADMINISTRATOR') %}
                                <div>
                                    <a href="{{ path('manager_user_promote_to_employee', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme agent</button></a>
                                </div>
                                <br>
                                <div>
                                    <a href="{{ path('manager_user_promote_to_manager', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Teamleader</button></a>
                                </div>
                                <br>
                                <div>
                                    <a href="{{ path('manager_user_promote_to_supervisor', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Supervisor</button></a>
                                </div>
                                <br>
                                <div>
                                    <a href="{{ path('manager_user_promote_to_director', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Directeur</button></a>
                                </div>
                            {% endif %}
                            {% elseif User.role == 'ROLE_EMPLOYEE' %}
                                {% if is_granted('ROLE_MANAGER') %}
                                    {% if User.responsible != app.user.user %}
                                        <div>
                                            <a href="{{ path('manager_user_define_manager', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Intégrer dans ma Team</button></a>
                                        </div>
                                        <br>
                                    {% endif %}
                                {% endif %}
                                {% if is_granted('ROLE_SUPERVISOR') %}
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_manager', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Teamleader</button></a>
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_DIRECTOR') %}
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_manager', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Teamleader</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_supervisor', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Supervisor</button></a>
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_ADMINISTRATOR') %}
                                    <div>
                                        <a href="{{ path('manager_user_deactivate', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Désactiver l'utilisateur</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_manager', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Teamleader</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_supervisor', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Supervisor</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_director', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Directeur</button></a>
                                    </div>
                                {% endif %}
                            {% elseif User.role == 'ROLE_MANAGER' %}
                                {% if is_granted('ROLE_SUPERVISOR') %}
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_employee', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme agent</button></a>
                                    </div>
                                    <br>
                                    {% if not User.responsible == app.user %}
                                        <div>
                                            <a href="{{ path('manager_user_define_manager', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Intégrer dans ma Team</button></a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if is_granted('ROLE_DIRECTOR') %}
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_employee', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme agent</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_supervisor', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Supervisor</button></a>
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_ADMINISTRATOR') %}
                                    <div>
                                        <a href="{{ path('manager_user_deactivate', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Désactiver l'utilisateur</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_employee', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme agent</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_supervisor', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Supervisor</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_director', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Directeur</button></a>
                                    </div>
                                {% endif %}
                            {% elseif User.role == 'ROLE_SUPERVISOR' %}
                                {% if is_granted('ROLE_DIRECTOR') %}
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_employee', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme agent</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_manager', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Teamleader</button></a>
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_ADMINISTRATOR') %}
                                    <div>
                                        <a href="{{ path('manager_user_deactivate', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Désactiver l'utilisateur</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_employee', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme agent</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_manager', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Teamleader</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_director', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Directeur</button></a>
                                    </div>
                                {% endif %}
                            {% elseif User.role == 'ROLE_DIRECTOR' %}
                                {% if is_granted('ROLE_ADMINISTRATOR') %}
                                    <div>
                                        <a href="{{ path('manager_user_deactivate', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Désactiver l'utilisateur</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_employee', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme agent</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_supervisor', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Teamleader</button></a>
                                    </div>
                                    <br>
                                    <div>
                                        <a href="{{ path('manager_user_promote_to_supervisor', {userId:User.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Définir comme Supervisor</button></a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </td>
            {% endif %}

            {% if is_granted('ROLE_ADMINISTRATOR') or app.user.getIdentifier == User.id %}
                <td>
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><h3>Changement du mot de passe</h3></div>
                        <div class="card-body">
                            <p class="card-text">
                                <br>

                                {{ form_start(formular) }}

                            <div>{{ form_row(formular.password.first) }}</div>
                            <div>{{ form_row(formular.password.second) }}</div>
                            <button type="submit">Enregistrer</button>

                            {{ form_widget(formular) }}

                            {{ form_end(formular) }}

                            {% for message in app.flashes('success') %}
                                <div class="flash-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </td>
            {% endif %}
        </tr>
    </table>

{% endblock %}

