<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue ici!{% endblock %}</title>
    <link rel="stylesheet"
          href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet"
          href="/css/calendar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <script src="https://unpkg.com/feather-icons"></script>


    {% block stylesheets %}{% endblock %}
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('manager_home') }}"><b>Gestionnaire</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            {% if app.user %}
                {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_DIRECTOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('calendar_redirect') }}">Calendrier</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_EMPLOYEE') and not is_granted('ROLE_MANAGER') and not is_granted('ROLE_SUPERVISOR') and not is_granted('ROLE_DIRECTOR') and not is_granted('ROLE_ADMINISTRATOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('calendar_employee_redirect') }}">Mon calendrier</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_DIRECTOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('manager_holiday_demands') }}">Demandes</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_EMPLOYEE') and not is_granted('ROLE_MANAGER') and not is_granted('ROLE_SUPERVISOR') and not is_granted('ROLE_DIRECTOR') and not is_granted('ROLE_ADMINISTRATOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('employee_manager_holiday_demands') }}">Mes demandes</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_EMPLOYEE') and not is_granted('ROLE_MANAGER') and not is_granted('ROLE_SUPERVISOR') and not is_granted('ROLE_DIRECTOR') and not is_granted('ROLE_ADMINISTRATOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('manager_holiday_demands_create') }}">Créer une demande</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_DIRECTOR') or is_granted('ROLE_ADMINISTRATOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('manager_team_users') }}">Droits et utilisateurs</a>
                    </li>
                {% endif %}
                {% if is_granted ('ROLE_EMPLOYEE')%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('manager_team_users_show', {id:app.user.getIdentifier}) }}">Mon profil</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('manager_user_create') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<body>

<div class="container">
    {% block body %}{% endblock %}
</div>


{% block javascripts %}
    <script src="https://unpkg.com/feather-icons"></script>
    <script type="text/javascript">
        feather.replace();
    </script>
{% endblock %}
</body>
</html>
