{% extends 'Layout.twig' %}

{% block body %}

    <h2><b>Création d'une demande de congé</b></h2>

    {{ form_start(formular) }}

    <table>
        <tr>
            <td>
                <b>{{ form_row(formular.startDate) }}</b>
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <b>{{ form_row(formular.endDate) }}</b>
            </td>

            <td></td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <b>{{ form_row(formular.comment) }}</b>
            </td>
        </tr>
    </table>

    <table>

        <tr class="bord2">
            <td></td>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <button type="submit" class="btn-lg btn-success">Enregistrer</button>
            </td>
        </tr>
    </table>

    {#{% for label, messages in app.flashes %}#}
        {#{% for message in messages %}#}
            {#<div class="flash-{{ label }}">#}
                {#Il y a un problème#}
            {#</div>#}
        {#{% endfor %}#}
    {#{% endfor %}#}

    {{ form_widget(formular) }}

    {{ form_end(formular) }}

{% endblock %}
