{% extends 'Layout.twig' %}

{% block body %}
    <h2><b>Demandes portant sur le {{ Date|date('d-m-Y') }}</b></h2>
    <br>
    <table class="bord">
        <tr><td><br></td></tr>
        {% for demand in AllDemandsPerDay %}
            <tr>
                <td><a href="{{ path('manager_holiday_demands_show', {id:demand.id}) }}" ><font size="1">{{ demand.createdDate|date('d-m-Y à H:i') }}</font></a></td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td><span class="badge badge-pill badge-{{ ['', 'warning', 'success', 'danger', 'secondary', 'danger'][demand.status] }}">{{ demand.statusString|trans }}</span></td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td>{{ demand.employee.lastName }}</td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td>{{ demand.employee.firstName }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
