{% extends 'Layout.twig' %}

{% block body %}

    <h2><b>Mes demandes</b></h2>
    <p><br></p>

    {% include '/DemandListTemplate.twig' with {'DemandDataList' : DemandDataList, 'IsEmployee' : IsEmployee} only %}

{% endblock %}

