{% extends 'Layout.twig' %}

{% block body %}

    {% include '/DemandShowTemplate.twig' with {'Demand' : Demand, 'DemandData' : DemandData, 'ValidationForm' : ValidationForm, 'IsEmployee' : IsEmployee} only %}

{% endblock %}

