{% extends 'Layout.twig' %}

{% block body %}

    <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3">
        <h1>{{ Calendar.toString }}</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('employee_calendar', {year:Calendar.previousMonth.year, month:Calendar.previousMonth.month}) }}" role="button">Précédent</a>
            <a class="btn btn-primary" href="{{ path('employee_calendar', {year:Calendar.nextMonth.year, month:Calendar.nextMonth.month}) }}" role="button">Suivant</a>
        </div>
    </div>

    {% include '/CalendarTemplate.twig' with {'Calendar' : Calendar} only %}

{% endblock %}
