{% if Calendar is defined %}

    <table>
        <thead>
        <tr>
            <th width="15%">Lundi</th>
            <th width="15%">Mardi</th>
            <th width="15%">Mercredi</th>
            <th width="15%">Jeudi</th>
            <th width="15%">Vendredi</th>
            <th width="15%">Samedi</th>
            <th width="15%">Dimanche</th>
        </tr>
        </thead>
        <tbody>
        {# sauter des cases jusqu'au début du mois #}
        {# Afficher les jours donnés par le controller ligne par ligne #}
        {% for day in Calendar.dayDataList %}
            {% if day.date|date('N') == 1 or loop.first %}
                <tr>
            {% endif %}
            {% if loop.first and day.date|date('N') > 1 %}
                {% for d in 1..(day.date|date('N') - 1) %}
                    <td></td>
                {% endfor %}
            {% endif %}
            <td>
                <div class="calendar__table">
                    <div>
                        {{ day.date|date('j') }}
                        {% if day.date|date('N') == 1 or loop.first %}
                            <b>(Sem {{ day.date|date('W') }})</b>
                        {% endif %}

                        {% set buttonClass = 'btn-secondary' %}
                        {% set icon = 'unlock' %}
                        {% if not Calendar.isEmployee and is_granted('ROLE_SUPERVISOR') %}
                            {% if day.isBlocked %}
                                {% set buttonClass = 'btn-danger' %}
                                {% set icon = 'lock' %}
                            {% endif %}
                            <a href="{{ path('manager_holiday_dayblock', { dateString: day.date|date('Y-m-d') }) }}">
                                <button type="button" class="btn btn-small {{ buttonClass }}">
                                    <i style="font-size: small;" data-feather={{ icon }}></i>
                                </button>
                            </a>
                        {% endif %}
                        {% if not Calendar.isEmployee and is_granted('ROLE_MANAGER') and not is_granted('ROLE_SUPERVISOR') or is_granted('ROLE_DIRECTOR') or is_granted('ROLE_ADMINISTRATOR') %}
                            {% if day.isBlocked %}
                                <div><div class="btn btn-small btn-danger"><i style="font-size: small;" data-feather="lock"></i></div></div>
                            {% endif %}
                        {% endif %}
                        {% if Calendar.isEmployee %}
                            {% if day.isBlocked %}
                                <div><div class="btn btn-small btn-danger"><i style="font-size: small;" data-feather="lock"></i></div></div>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if day.pendingCount > 0 or day.acceptedCount > 0 or day.refusedCount > 0 or day.reservedCount > 0 %}
                        {% if day.pendingCount > 0 %}
                            {% if not Calendar.isEmployee %}
                                <a href="{{ path('manager_holiday_date_demands', {dateString:day.date|date('Y-m-d')}) }}"><div class="badge badge-pill badge-warning"> {{ day.pendingCount }} en attente</div></a>
                            {% endif %}
                            {% if Calendar.isEmployee %}
                                <a href="{{ path('employee_manager_holiday_demands_show', {id:(day.demands|first).id}) }}"><span class="badge badge-pill badge-warning">en attente</span></a>
                            {% endif %}
                        {% endif %}
                        {% if day.acceptedCount > 0 and day.acceptedCount < 2%}
                            {% if not Calendar.isEmployee %}
                                <div><a href="{{ path('manager_holiday_date_demands', {dateString:day.date|date('Y-m-d')}) }}"><div class="badge badge-pill badge-success"> {{ day.acceptedCount }} acceptée</div></a></div>
                            {% endif %}
                            {% if Calendar.isEmployee %}
                                <a href="{{ path('employee_manager_holiday_demands_show', {id:(day.demands|first).id}) }}"><span class="badge badge-pill badge-success">acceptée</span></a>
                            {% endif %}
                        {% elseif day.acceptedCount > 0 %}
                            {% if not Calendar.isEmployee %}
                                <div><a href="{{ path('manager_holiday_date_demands', {dateString:day.date|date('Y-m-d')}) }}"><div class="badge badge-pill badge-success"> {{ day.acceptedCount }} acceptées</div></a></div>
                            {% endif %}
                            {% if Calendar.isEmployee %}
                                <a href="{{ path('employee_manager_holiday_demands_show', {id:(day.demands|first).id}) }}"><span class="badge badge-pill badge-success">acceptée</span></a>
                            {% endif %}
                        {% endif %}
                        {% if day.refusedCount > 0 and day.refusedCount < 2 %}
                            {% if not Calendar.isEmployee %}
                                <div><a href="{{ path('manager_holiday_date_demands', {dateString:day.date|date('Y-m-d')}) }}"><div class="badge badge-pill badge-danger"> {{ day.refusedCount }} refusée</div></a></div>
                            {% endif %}
                            {% if Calendar.isEmployee and day.acceptedCount == 0 and day.pendingCount == 0 %}
                                <a href="{{ path('employee_manager_holiday_demands_show', {id:(day.demands|first).id}) }}"><span class="badge badge-pill badge-danger">refusée</span></a>
                            {% endif %}
                        {% elseif day.refusedCount > 0 %}
                            {% if not Calendar.isEmployee %}
                                <div class="badge badge-pill badge-danger"> {{ day.refusedCount }} refusées</div>
                            {% endif %}
                            {% if Calendar.isEmployee %}
                                <a href="{{ path('employee_manager_holiday_demands_show', {id:(day.demands|first).id}) }}"><span class="badge badge-pill badge-danger">refusée</span></a>
                            {% endif %}
                        {% endif %}
                        {% if day.reservedCount > 0 and day.reservedCount < 2 %}
                            {% if not Calendar.isEmployee %}
                                <div><a href="{{ path('manager_holiday_date_demands', {dateString:day.date|date('Y-m-d')}) }}"><div class="badge badge-pill badge-danger"> {{ day.reservedCount }} réservée</div></a></div>
                            {% endif %}
                            {% if Calendar.isEmployee %}
                                <a href="{{ path('employee_manager_holiday_demands_show', {id:(day.demands|first).id}) }}"><span class="badge badge-pill badge-danger">réservée</span></a>
                            {% endif %}
                        {% elseif day.reservedCount > 0 %}
                            {% if not Calendar.isEmployee %}
                                <div><a href="{{ path('manager_holiday_date_demands', {dateString:day.date|date('Y-m-d')}) }}"><div class="badge badge-pill badge-danger"> {{ day.reservedCount }} réservées</div></a></div>
                            {% endif %}
                            {% if Calendar.isEmployee %}
                                <a href="{{ path('employee_manager_holiday_demands_show', {id:(day.demands|first).id}) }}"><span class="badge badge-pill badge-danger">refusée</span></a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </td>
            {% if day.date|date('N') == 7 or loop.last %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endif %}
