{% if DemandDataList is defined %}

    <table class="bord">
        <tr>
            <td><span class="demandListMarginFirstTitle"><b>Date de création</b></span><span class="demandListMaringTitlesDoublePointsFirst"><b> :</b></span></td>
            <td><span class="demandListMaringTitlesStatut"><b>Statut</b></span><span class="demandListMaringTitlesDoublePoints"><b> :</b></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% if not IsEmployee %}
                <td><span class="demandListMaringTitles"><b>Agent</b></span><span class="demandListMaringTitlesDoublePoints"><b> :</b></span></td>
            {% else %}
                <td></td>
            {% endif %}
            {% if not IsEmployee %}
                <td><span class="demandListMaringTitles"><b>Responsable</b></span><span class="demandListMaringTitlesDoublePoints"><b> :</b></span></td>
            {% endif %}
        </tr>
        {% for data in DemandDataList %}
            <tr>
                {% if not data.isOutdated %}
                    {% if data.demand.status == 1 %}
                        {% if not IsEmployee %}
                            <td><a href="{{ path('manager_holiday_demands_show', {id:data.demand.id}) }}" ><span class="demandListMaringDoublePointsFirst"><font size="1">{{ data.demand.createdDate|date('d-m-Y à H:i') }}</font></span></a></td>
                            <td><a href="{{ path('manager_holiday_demands_show', {id:data.demand.id}) }}" ><span class="demandListMaringStatut"><span class="badge badge-pill badge-{{ ['', 'warning', 'secondary', 'secondary'][data.demand.status] }}">{{ data.demand.statusString|trans }}</span></span></a></td>
                        {% endif %}
                        {% if IsEmployee %}
                            <td><a href="{{ path('employee_manager_holiday_demands_show', {id:data.demand.id}) }}" ><span class="demandListMaringDoublePointsFirst"><font size="1">{{ data.demand.createdDate|date('d-m-Y à H:i') }}</font></span></a></td>
                            <td><span class="demandListMaringStatut"><span class="badge badge-pill badge-{{ ['', 'warning', 'secondary', 'secondary'][data.demand.status] }}">{{ data.demand.statusString|trans }}</span></span></td>
                        {% endif %}
                    {% else %}
                        {% if not IsEmployee %}
                            <td><a href="{{ path('manager_holiday_demands_show', {id:data.demand.id}) }}" ><font size="1">{{ data.demand.createdDate|date('d-m-Y à H:i') }} <i class="fa fa-check" style="font-size:20px;color:green"></i></font></a></td>
                        {% endif %}
                        {% if IsEmployee %}
                            <td><a href="{{ path('employee_manager_holiday_demands_show', {id:data.demand.id}) }}" ><font size="1">{{ data.demand.createdDate|date('d-m-Y à H:i') }}</font></a></td>
                        {% endif %}
                        {% if not IsEmployee %}
                            <td><span class="demandListMaringStatut"><span class="badge badge-pill badge-secondary">traitée</span></span></td>
                        {% endif %}
                        {% if IsEmployee %}
                            {#{{ data.demand.status }}#}
                            {% if data.demand.status == 2 %}
                                <td><span class="demandListMaringStatut"><span class="badge badge-pill badge-success">acceptée</span></span></td>
                            {% elseif data.demand.status == 3 %}
                                <td><span class="demandListMaringStatut"><span class="badge badge-pill badge-danger">refusée</span></span></td>
                                {#{% endif %}#}
                            {% elseif data.demand.status == 5 %}
                                <td><span class="demandListMaringStatut"><span class="badge badge-pill badge-danger">réservée</span></span></td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if data.isOutdated %}
                    <td><font size="1">{{ data.demand.createdDate|date('d-m-Y à H:i') }}</font></td>
                    <td><span class="demandListMaringStatut"><span class="badge badge-danger">non traitée</span></span></td>
                {% elseif data.isImminent %}
                    {% if IsEmployee %}
                        <td></td>
                    {% endif %}
                    {% if not IsEmployee %}
                        <td><span class="badge badge-danger">date demandée imminente</span></td>
                    {% endif %}
                {% endif %}
                {% if not data.isImminent %}
                    <td></td>
                {% endif %}
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<b>du</b>&nbsp;{{ data.demand.startDate|date('d-m-Y') }} &nbsp;</td>
                <td><b>au</b> &nbsp;{{ data.demand.endDate|date('d-m-Y') }}</td>
                {% if IsEmployee and data.demand.status == 3 %}
                    <td><a href="{{ path('manager_demands_reserve', {demandId:data.demand.id}) }}"><button type="submit" class="btn-sm btn" style="font-size:small;background-color:orangered">Maintenir la demande en cas d'acceptation possible</button></a></td>
                {% elseif data.demand.status == 2 %}
                    <td><i class="fa fa-check" style="font-size:20px;color:green"></i></td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if not IsEmployee %}
                    <td><div class="demandListMargin"> {{ data.demand.employee.lastName }} {{ data.demand.employee.firstName }}</div></td>
                {% endif %}
                {% if not IsEmployee %}
                    <td>
                    <span class="demandListMargin">
                        {% if data.demand.employee.responsible is not null %}
                            {{ data.demand.employee.responsible.lastName }} {{ data.demand.employee.responsible.firstName }}
                        {% endif %}
                    </span>
                    </td>
                {% endif %}
                {% if not IsEmployee %}
                    {% if data.isOld and data.demand.status == 1 and not data.isOutdated %}
                        <td><span class="demandListMarginLast"><span class="badge badge-danger">temps d'attente élevé</span></span></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endif %}
