{% if DemandData is defined %}

    {% block body %}

        {% if not IsEmployee %}
            <h3><b>Demande de <a href="{{ path('manager_users_holiday_demands', {user:Demand.employee.id}) }}">{{ Demand.employee.firstName }} {{ Demand.employee.lastName }}</a> du {{ Demand.createdDate | date('d-m-Y') }}</b></h3>
        {% endif %}

        {% if IsEmployee %}
            <h3><b>Ma demande du {{ Demand.createdDate | date('d-m-Y') }}</b></h3>
        {% endif %}
        <br>
        <br>
        <table>
            <td>
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        {% if not DemandData.isOutdated %}
                            <div class="badge badge-pill badge-{{ ['', 'warning', 'success', 'danger', 'secondary', 'danger'][Demand.status] }}">{{ Demand.statusString|trans }}</div>
                        {% endif %}
                        {#<td><span class="demandListMaringStatut"><span class="badge badge-pill badge-{{ ['', 'warning', 'secondary', 'secondary'][data.demand.status] }}">{{ data.demand.statusString|trans }}</span></span></td>#}

                        {% if DemandData.isOutdated %}
                            <span class="badge badge-secondary">demande échue non traitée</span>
                        {% endif %}

                        {% if Demand.startDate == Demand.endDate %}
                            {#<h6><b>Semaine no {{ Demand.startDate|date('W') }}</b></h6>#}
                            <h6 class="card-text"><b>{{ Demand.startDate|date('d-m-Y') }}</b></h6>
                        {% else %}
                            {#<h6><b>Semaine no {{ Demand.startDate|date('W') }}</b></h6>#}
                            <h6 class="card-text"><b>Du {{ Demand.startDate|date('d-m-Y') }}<br>au {{ Demand.endDate|date('d-m-Y')}}</b></h6>
                        {% endif %}
                    </div>
                </div>
            </td>
            <td class="spaces">&nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
                {% if DemandData.demand.events is not empty %}
                    <b>Historique :</b>
                    <hr>
                    {% for event in DemandData.demand.events %}
                        <small>
                            <div> Traitée le : {{ event.date|date('d-m-Y à H:i') }} </div>
                            <div> Par {{ event.user.lastName }} {{ event.user.firstName }}</div>
                            <div> Evènement : {{ event.typeString|trans }}</div>
                            <div> Commentaire : {{ event.comment }}</div>
                        </small>
                        <hr>
                    {% endfor %}
                {% endif %}
            </td>

        </table>

        <br>
        <br>
        {% if DemandData.canBeAcceptedOrRefused and not IsEmployee and not is_granted('ROLE_ADMINISTRATOR') and not is_granted('ROLE_DIRECTOR') %}
            {{ form_start(ValidationForm) }}

            {{ form_row(ValidationForm.comment) }}

            {% if Demand.status == 1 %}
                <div class='btn-group'>
                    {{ form_row(ValidationForm.acceptButton) }}
                    {{ form_row(ValidationForm.refuseButton) }}
                </div>
            {% else %}
                <div class='btn-group'>
                    {{ form_row(ValidationForm.acceptButton) }}
                    {% do ValidationForm.refuseButton.setRendered() %}
                </div>
            {% endif %}

            {{ form_end(ValidationForm) }}
        {% endif %}

    {% endblock %}
{% endif %}
