{% extends 'Layout.twig' %}

{% block body %}

    <h2><b>Connexion</b></h2>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <br><br>
        <label for="username"><b>Email :</b></label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <label for="password"><b>Mot de passe :</b></label>
        <input type="password" id="password" name="_password" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">login</button>
    </form>
    <br><br><br>

    <img width="700" src="/meca.jpg">

{% endblock %}
