.calendar__table {
    background-color: lightgrey;
    /*padding: 50px;*/
    border: 1px solid #CCC;
    vertical-align: top;
    width: 130px;
    height: 130px;
    text-align: left;
    margin-left: 0;
}

.calendar__table__pending {
    background-color: lightyellow;
    padding: 50px;
    border: 1px solid #CCC;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
}

.calendar__table2 {
    background-color: yellow;
}

.bord {
    border-collapse: collapse;
    line-height:25px;
}

.bord2{
    /*border: 1px solid black;*/
    line-height: 100px;
}

.bol{
    font-weight: bold;
}

.bolusers{
    font-weight: bold;
    /*text-decoration: underline;*/
    /*width: 5%;*/
}

/*.status_pending{*/
/*color: darkgoldenrod;*/
/*}*/

.demandListTable{
    line-height:10px;
}

.holidaydemand-status1{
    color: darkgoldenrod;
}

.holidaydemand-status2{
    background-color: green;
}

.holidaydemand-status3{
    color: darkred;
}

.acceptButton{
    color: black;

}

.refuseButton{
    color: black;
}

.today-color{
    background-color: darkgrey;
}

.demandListMargin{
    /*margin-top:2px;*/
    margin-left : 30px;
    margin-right : 30px;
    /*margin-bottom:2em;*/
    /*margin-left:100px;*/
}

.demandListMarginLast{
    /*margin-top:2px;*/
    margin-left : 2px;
    margin-right : 0;
    /*margin-bottom:2em;*/
    /*margin-left:100px;*/
}

.demandListMarginFirstTitle{
    /*margin-top:2px;*/
    margin-left : 0;
    margin-right : 1px;
    text-decoration: underline;
    /*margin-bottom:2em;*/
    /*margin-left:100px;*/
}

.demandListMaringTitles {
    margin-left : 30px;
    margin-right : 1px;
    text-decoration: underline;
}

.demandListMaringTitlesStatut {
    margin-left : 15px;
    margin-right : 1px;
    text-decoration: underline;
}

.demandListMaringTitlesDoublePoints{
    margin-right : 30px;
}

.demandListMaringTitlesDoublePointsFirst{
    margin-right: 15px;
}

.demandListMaringDoublePointsFirst{
    margin-right: 27px;
}

.demandListMaringStatut {
    margin-left : 11px;
    margin-right : 1px;
    text-decoration: underline;
}

.spaces {
    margin-left: 10px;
    margin-right : 10px;
}

.pad{
    padding: 50px;
}
